//
// Custom Main
//
// Add your own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and Codebase functions/mixins/styles etc
// --------------------------------------------------

// If you have many custom styles, you can create and import additional files
// For example you can create _component1.scss and include it as follows:
// @import 'component1';

.error {
    color: $red;
    font-style: italic;
    font-size: 0.8em;
}

.form-control.error {
    border-color: $red;
    border-style: dashed;
}

.text-light-green {
    color: lightgreen;
}
.text-dark-green {
    color: darkgreen;
}
.text-purple {
    color: purple;
}
.text-pink {
    color: pink;
}
.text-brown {
    color: brown;
}
.text-violet {
    color: violet;
}

.bg-light-green {
    background-color: lightgreen;
}
.bg-dark-green {
    background-color: darkgreen;
}
.bg-purple {
    background-color: purple;
}
.bg-pink {
    background-color: pink;
}
.bg-brown {
    background-color: brown;
}
.bg-violet {
    background-color: violet;
}
